/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    background: #12457d;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

    #page-wrapper h1 {
        color: #7c7c7c;
    }

#page-inner {
    width: 100%;
    /*min-height: 1200px;*/
}

.text-center {
    text-align: center;
}

    .text-center h3,
    .text-center h4 {
        color: #fff;
    }

.no-boder {
    border: 1px solid #f3f3f3;
}

h2 {
    color: #f00;
}

.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color: #F8F8F8;
}

.noti-box {
    min-height: 100px;
    padding: 20px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.text-box p {
    margin: 0 0 3px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.bg-color-green {
    background-color: #00CE6F;
    color: #fff;
}

.bg-color-blue {
    background-color: #A95DF0;
    color: #fff;
}

.bg-color-red {
    background-color: #DB0630;
    color: #fff;
}

.bg-color-brown {
    background-color: #B94A00;
    color: #fff;
}

.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.main-temp-back .text-temp {
    font-size: 40px;
}

.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2EA7EB;
    color: #fff;
}

.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}

.back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}

.back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}

.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}
     /*CHAT PANEL*/
.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}

.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
    margin-left: 90px;
}

.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}

.chat-img>img {
    margin-right: 20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
    max-height: 170px;
    max-width: 170px;
}

.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #fff;
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}

.active-menu {
    background-color: #2766ac!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse , .sidebar-collapse .nav {
    background: #12457d;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #fff;
    background: #12457d;
    text-shadow: none;
}

.sidebar-collapse > .nav > li > a {
    padding: 10px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #2766ac;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #2766ac;
    outline: 0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 15px;
    height: 1px;
    background: #ff0000;
    top: 20px;
}

.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 1px;
    height: 100%;
    background: #ff0000;
    top: 0px;
    z-index: 10;
}

.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #202020;
}

.navbar-cls-top {
    background: #fff;
    border-bottom: none;
}

.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    border-bottom: 1px solid #e7e7e7;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #12457d;
    color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #12457d;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #12457d;
}

.nav > li > a > i {
    font-size: 25px;
    width: 50px;
    text-align: center;
}
/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
    }
}

.custom {
    padding: 3px 10px;
    background: #ebebeb;
}

.custom input[type="text"] {
    width: 30%;
}

.custom label,
#page-inner label {
    font-size: 14px;
    font-weight: 500;
    color: #7c7c7c;
    margin-right: 10px;
    float: left;
}

.custom label {
    margin-left: 0 !important;
}

/*#page-inner label {
    margin-left: 15px;
}*/

#page-inner .btn {
    border: 1px solid #dae4eb;
    color: #7e7e7e;
}

#page-inner li .btn {
    margin: 0 0 12px 12px;
    padding: 5px 20px;
    background-color: #2766ac;
    color: #fff;
    -webkit-box-shadow: 0 3px 0 0 #12457d;
    box-shadow: 0 3px 0 0 #12457d;
    border: 0;
}

.filters {
    padding: 20px 10px;
    background: #fff;
    margin: 10px 0 15px 0;
}

.btn-input {
   display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.ui-widget-header {
    border-radius: 0;
    background-color: #2766ac;
    color: #fff;
    border: 1px solid #dae4eb;
}

.panel-footer span {
    margin-right: 15px;
    color: #7e7e7e;
}

#page-inner h3,
.offer-act {
    color: #12457d;
    text-transform: uppercase;
}


#map-canvas { height: 480px; }

.offer-act .panel-body span {
    font-size: 2.5em;
    color: #ccc;
    font-weight: 600;
    margin-left: 10px;
}

.offer-act h4 {
    color: #666;
    font-weight: 600;
    text-transform: none;
}

.offer-act .panel {
    margin-left: 15px;
    margin-right: 15px;
}

.offer-act .panel:nth-child(2) {
    margin-left: 0;
}

#morris-line-chart svg {
    max-width: 100%;
}

aside {
    padding-top: 55px;
    float: right !important;
}

    aside .panel-body {
        padding: 0;
    }

        aside .panel-body h3 {
            color: #000 !important;
        }

        aside .panel-body h3.number {
            color: #7c7c7c !important;
            font-size: 30px;
        }

.user-dropdown {
    padding: 15px;
    border-left: 1px solid #e7e7e7;
}

.user-dropdown button {
    /*border: 0;*/
    height: 43px;
}

.user-dropdown .dropdown-menu {
    right: 0 !important;
    left: auto;
}

.sitemap ul {
    float: left;
    margin: 25px 0;
}

    .sitemap ul li {
        list-style-type: none;
        float: left;
    }

    .sitemap ul li.active {
        color: #11447c;
    }

    .sitemap ul li.active a:after {
        content: "»";
        display: inline-block;
        padding: 0 5px;
    }

.navbar .col-lg-10 {
    border-left: 1px solid  #e7e7e7;
}

.table-responsive thead tr th {
    font-size: 12px;
    color: #929191;
}

.table-responsive tbody tr td {
    text-align: center;
}

.table-responsive tbody tr td:first-child {
    text-align: left;
}

    .table-responsive tbody tr td a i {
        font-size: 18px;
    }

        .table-responsive tbody tr td a i.fa-trash-o {
            color: red;
        }

#tooltip {
    background: none;
    border: 0 !important;
}

#tooltip i {
    font-size: 25px;
    color: #fff;
}

.panel-heading.subscribers {
    background-color: #12457d;
    color: #fff;
    border-radius: 0;
}

.subscribers .header a {
    background-color: #2766ac;
    border-radius: 2px;
    color: #fff !important;
    border: 0 !important;
    padding: 8px 25px;
    box-shadow: 0 3px 0 #01133d;
    text-transform: uppercase;
}

.hour {
    color: #929191;
}

.nav-tabs li {
    z-index: 2;
}

    .nav-tabs li:nth-child(2){
        z-index: 3 !important;
    }

    .nav-tabs li {
        border: 1px solid #ddd;
        z-index: 1;
        margin-left: -10px;
        border-bottom: 0;
        border-top-right-radius: 7px;
        background: #F3F3F3;
    }

        .nav-tabs li a {
            color: #929191;
        }

    .nav-tabs li.active {
        border: 0;
    }

    .nav-tabs li:first-child {
        margin-left: 0;
        border-top-left-radius: 7px;
    }

    .nav-tabs li:first-child.active {
        border-top-left-radius: 0;
    }

button.fc-prev-button,
button.fc-next-button {
    background: none;
    border: 0;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
}

.fc-icon-left-single-arrow:after {
    content: "\f053";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 40px;
}

.fc-icon-right-single-arrow:after {
    content: "\f052";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 40px;
}

.fc-today-button,
.fc-month-button.fc-state-active,
.fc-basicWeek-button.fc-state-active,
.fc-basicDay-button.fc-state-active {
    border-radius: 3px !important;
    background: #e2e1e1 !important;
    color: #7c7c7c !important;
    font-weight: 700;
    box-shadow: 0 3px 0 #7c7c7c !important;
}

.fc-right .fc-button-group .fc-state-default {
    margin-right: 6px !important;
}
.fc-month-button,
.fc-basicWeek-button,
.fc-basicDay-button {
    border-radius: 3px !important;
    background: #2766ac !important;
    color: #fff !important;
    font-weight: 700;
    box-shadow: 0 3px 0 #12457d !important;
    text-shadow: none !important;
}

.panel-footer.legend p {
    padding: 2px 10px;
    color: #fff;
    font-weight: 600;
}

    .panel-footer.legend p:first-child {
        font-weight: 600;
        color: #000;
    }

    .panel-footer.legend p.active {
        background-color: #1369ab;
    }

    .panel-footer.legend p.paused {
        background-color: #c4ccd4;
        background-image: repeating-linear-gradient(140deg, transparent, transparent 3px, rgba(255,255,255,.5) 0, rgba(255,255,255,.5) 9px);
        color: #000;
    }

    .panel-footer.legend p.experied {
        background-color: #73808a;
    }

    .panel-footer.legend p.pendind {
        background-color: #ee9e02;
    }

    .panel-footer.legend p.rejected {
        background-color: #c24e53;
    }

.form-group-sm .col-xs-1 {
    width: 7.333333%;
    padding: 3px;
    margin-left: 3px;
}

.form-group-sm .col-xs-1:nth-child(2) {
    margin-left: 10px;
}

.form-group-sm .btn-group .locations {
    width: 93%;
}

.form-group-sm .btn-group .countries {
    width: 55%;
}

/*input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check-radio-sprite.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check-radio-sprite.png) -16px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
    cursor: pointer;
}

input[type="radio"] + label span {
    display:inline-block;
    width:14px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check-radio-sprite.png) -32px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../img/check-radio-sprite.png) -46px top no-repeat;
}
*/
.paym-mth label {
    background: url(../img/payment-methods.png) no-repeat 100% 9%;
    width: 55px;
    height: 22px;
}

.paym-mth label[for="check"] {
    background-position: 100% 18%;
}

.paym-mth label[for="amex"] {
    background-position: 100% 0%;
}

.paym-mth label[for="cirrus"] {
    background-position: 100% 27%;
}

.paym-mth label[for="diners"] {
    background-position: 100% 36%;
}

.paym-mth label[for="discover"] {
    background-position: 100% 45%;
}

.paym-mth label[for="maestro"] {
    background-position: 100% 54%;
}

.paym-mth label[for="master"] {
    background-position: 100% 63%;
}

.paym-mth label[for="moneyb"] {
    background-position: 100% 72%;
}

.paym-mth label[for="paypal"] {
    background-position: 100% 82%;
}

.paym-mth label[for="visa"] {
    background-position: 100% 91%;
}

.paym-mth label[for="wunion"] {
    background-position: 100% 100%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    padding: 25px;
    background-color: #12457d;
    box-shadow: 0 3px 0 #4b6b8f;
    border: 0 !important;
    color: #fff !important;
    border-radius: 4px;
}
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100%;
    }

    .fileUpload span i {
        display: block;
        font-size: 30px;
        margin-bottom: 13px;
    }

button.save {
    color: #fff !important;
    background-color: #2766ac !important;
    box-shadow: 0 3px 0 #12457E;
    border: 0 !important;
}

button.cancel {
    color: #fff !important;
    background-color: #bdbdbd !important;
    box-shadow: 0 3px 0 #929292;
    border: 0 !important;
}

.fa-check-circle-o.pull-right,
.fa-times-circle-o.pull-right {
    font-size: 20px;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
}

.styled-select.slate {
    background: url(../img/dropdown-caret.jpg) no-repeat right center;
    height: 34px;
}

.styled-select.slate select {
    height: 34px;
    width: 178px;
    border: 1px solid #dae4eb;
    color: #7e7e7e;
}